@page
@using StateMachine.Models.StateMachine;
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">


	@{
		RequestModel model = new RequestModel
		{
			Id = 1,
			RequestText = "درخواست ثبت پیشنهاد",
			CurrentStatus = "شروع"
		};


		WorkFlowManager blogPostManager = new WorkFlowManager(model);
	}
	<hr />
	<p>
		@blogPostManager.GetGraphInfo() <br />
		<hr />
		@blogPostManager.Save(model) <br />
		@blogPostManager.Reject(model) <br />
		@blogPostManager.RequireEdit(model) <br />
		@blogPostManager.Accept(model) <br />
		@blogPostManager.RequireEdit(model) <br />
		@blogPostManager.Save(model) <br />
	</p>
</div>

