@page
@using StateMachine.Models.StateMachine;
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">


	@{
		RequestModel model = new RequestModel
			{
				CurrentStatus = "شروع",
				SystemName = "PIM",
				WorkflowName = "x"
			};

		model.Params.Add(new RequestViewModel
			{
				Id = 1,
				RequestText = "درخواست ثبت پیشنهاد",
			});	
		model.Params.Add(new RequestViewModelXXXXX
			{
				Id = 1,
				FirstName = "مهرداد",
				LastName = "شکوهی نیا",
			});

		WorkFlowManagerImp blogPostManager = new WorkFlowManagerImp(model);
		 ; 

	}
	<hr />
	<p>
		@blogPostManager.GetGraphJsonModel() <br />
		<hr />
		@blogPostManager.ChangeStatus(blogPostManager.GetPermittedTriggers.First(),model) <br />
		@string.Join(",", blogPostManager.GetPermittedTriggers) <br />
		@*		@blogPostManager.Reject(model) <br />
			@string.Join(",", blogPostManager.GetPermittedTriggers) <br />
			@blogPostManager.RequireEdit(model) <br />
			@string.Join(",", blogPostManager.GetPermittedTriggers) <br />
			@blogPostManager.Accept(model) <br />
			@string.Join(",", blogPostManager.GetPermittedTriggers) <br />
			@blogPostManager.RequireEdit(model) <br />
			@string.Join(",", blogPostManager.GetPermittedTriggers) <br />
			@blogPostManager.Save(model) <br />
			@string.Join(",", blogPostManager.GetPermittedTriggers) <br />*@
	</p>
</div>

